html, body {
	height: 100%;
	background-color: tan;
}
body {
	margin: 0;
	font-size: 24px;
}

#container {
	position: fixed;
	top:0;
	width: 100%;
	height: 100%;
}
#background {
	position: absolute;
	width: 100%;
	height: 100%; 
	/* calc(100vh * 720 / 960); */
}

#face {
	position: absolute;
	width:30%;
	right: 5%;
	top:60%;
	max-height: 25%;
}

#quote {
	position: absolute;
	right:0%;
	bottom: 10%;
	width:40%;
	/* background-color: orange; */
}

#condition {
	position: absolute;
	left: 5.3%;
	top: 80%;
	width: 50%;
	/* background-color:orange; */

}
